html {
	-webkit-text-size-adjust:100%;
}

img {
	max-width:100%;
}

div {
	overflow-x:auto;
}


/**********/


/* markdown cells */
.markdown {
}

/* raw cells */
.raw {
}


/**********/


/* code cells */
.code {
}

/* code cells : source (input) */
.source {
}

/* code cells : stream (text output) */
.stream {
}

/* code cells : display_data (graphical output) */
.display_data {
}

/* code cells : execute_result (pandas formatted text output) */
.execute_result {
}
