@font-face {
	font-family:atkinson;
	src:url('atkinson/AtkinsonHyperlegible-Regular.woff2');
}

@font-face {
	font-family:atkinson;
	src:url('atkinson/AtkinsonHyperlegible-Bold.woff2');
	font-weight:bold;
}

@font-face {
	font-family:atkinson;
	src:url('atkinson/AtkinsonHyperlegible-Italic.woff2');
	font-style:italic;
}

@font-face {
	font-family:atkinson;
	src:url('atkinson/AtkinsonHyperlegible-BoldItalic.woff2');
	font-weight:bold;
	font-style:italic;
}

html {
	-webkit-text-size-adjust:100%;
}

body {
	font-family:atkinson,monospace;
	/* font-size:large; */
}

a { color:blue; }

a:hover {
	background-color:blue;
	color:white;
}

div#bookmarks { 
	/* background-color:azure; */
	display:inline-block;
}

div#pages-icon a:hover { background-color:yellow; }

div#xp { display:none; }
div#xp_en { display:none; }
div#bg { display:none; }
div#bg_en { display:none; }
span#name { display:none; }