html {
	-webkit-text-size-adjust:100%;
}

body {
	font-family:monospace;
	/* font-size:large; */
}

a { color:blue; }

a:hover {
	background-color:blue;
	color:white;
}

div#bookmarks { 
	background-color:azure;
	display:inline-block;
}

div#pages-icon a:hover { background-color:yellow; }

div#xp { display:none; }
div#xp_en { display:none; }
div#bg { display:none; }
div#bg_en { display:none; }
span#name { display:none; }